<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Take Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Take Home 1</div>
        <hr/>
        Nama : <l th:text="${kirimnama}"></l>
        <br>
        <br>
        Tanggal : <l th:text="${kirimtgl}"></l>
        <br>
        <br>
        Foto : <img th:src="${kirimph}" width="500" height="400">
    </body>
</html>